@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
}

img {
    max-width: 400px;
}


h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

ul li {
    margin: 20px;
    width: 400px;
}

ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

ul li a img {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

ul li a:hover img {
    transform: scale(1.05);
}

footer {
    background-color: #5c5c5c;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

footer a {
    color: #fff;

}

.fas fa-heart {
    color: red;
}

.fas fa-camera {
    color: greenyellow;
}
