@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');



* {
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    color: var(--dark-grayish-blue);
    margin: 0;
}

header {
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    padding: 80px 0 20px;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
    color: var(--grayish-blue);
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 30px auto;
    padding: 0 20px;
}

.container-small {
    width: 700px;
}

section {
    padding: 30px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
    padding: 10px;
}

.m4 {
    margin: 100px auto;
}

.btn {
    border: none;
    border-radius: 50px;
    padding: 15px 35px;
    color: #fff;
    font-weight: 600;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 15px 5px;
}

.btn-primary {
    background-color: var(--strong-cyan);
    box-shadow: 0 4px hsl(171, 65%, 40%);
}

.btn-secondary {
    background-color: var(--light-blue);
    box-shadow: 0 4px hsl(233, 64%, 58%);
}

footer {
    background-color: hsl(201, 2%, 89%);
}

footer .container {
    margin-bottom: 0;
}

footer ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

footer .links {
    flex: 3;
}

footer .links li {
    margin-right: 40px;
    padding: 10px;
}

footer img {
    width: 60px;
}

footer ul a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

footer .social li {
    margin-right: 0 5px;
}

footer .social a {
    font-size: 24px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    footer .links {
        flex-direction: column;
    }

    footer .links li {
        padding: 10px;
        margin-right: 0;
    }
}
